.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 5px;
}

button {
    width: 100px;
    background-color: #4caf50;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

ol {
    list-style-type: none;
}